*{
  margin: 0;
  padding: 0;
}
body{

}
.text-animation{
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.text-animation li{
  display: inline-block;
  margin-right: 5px;
  font-family: 'Megrim', cursive;
  font-weight: 550;
  font-size: 8em;
  color: black;
  opacity: 1;
  transition: all 2s ease;
}
.text-animation li:last-child{
  margin-right: 0;
}
.text-animation.hidden{
  opacity: 0;
}

.text-animation.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px);}
.text-animation.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px);}
.text-animation.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px);}
.text-animation.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px);}
.text-animation.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px);}
.text-animation.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px);}
.text-animation.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px);}
.text-animation.hidden li:nth-child(8) { transform: translateX(-200px) translateY(-200px);}

.fade-in{
   animation: fadeIn 16s;
}
@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
p{
  margin-top:365px;
  text-align:center;
  font-family: 'Megrim', cursive;
  font-size:1.2em;
  font-weight: 500;
  z-index:1;
}
